
@{
    ViewBag.Title = "Payee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/css/select2.css" rel="stylesheet" />
<link href="~/Content/Custom/_Item.css" rel="stylesheet" />
<script src="~/Content/js/select2.full.min.js"></script>
<link href="~/Content/css/bootstrap3-wysihtml5.min.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap-select.css" rel="stylesheet" />
<link href="~/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<script src="~/dist/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="~/plugins/iCheck/all.css">
<!-- iCheck 1.0.1 -->
<script src="~/plugins/iCheck/icheck.min.js"></script>

<script src="~/Content/js/bootstrap3-wysihtml5.all.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Content/js/jquery.dataTables.min.js"></script>
<script src="~/Content/js/dataTables.bootstrap.min.js"></script>


<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>


<style>

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* The container */
    .container {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Hide the browser's default checkbox */
    c.ontainer input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #F03434;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input ~ .checkmark {
        background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
        background-color: #2196F3;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }


    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }

    /*.select2-selection__rendered {
        line-height: 32px !important;
    }

    .select2-selection {
        height: 34px !important;
    }*/

</style>

<section class="content-header">
    <h1 style="font-weight: bolder;">
        <span style="font-size: 17px;">Payee<span id="invno" style="color: #428dbd;"></span></span>
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Payee</li>
    </ol>
</section>
<section class="content">
    <!-- Default box -->
    <div class="center-block col-md-6" style="float: none;">    </div>
    @*<div class="box box-primary addnew">*@
    @*<div class="box-header with-border">
            <h3 class="box-title">@ViewBag.Title</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-primary bg-blue-gradient hide-form">Hide</button>
            </div>
        </div>*@
    <div class="panel-body">
        <div class="bs-example">
            @*<ul class="nav nav-pills" style="margin-bottom: 15px;">
                <li id="organigation-tab" class="active"><a href="#tab_1" class="tab-1" data-toggle="tab">Main Asset </a></li>*@
            @*<li id="address-tab"><a href="#tab_2" class="tab-2" data-toggle="tab">Peripheral</a></li>
                <li id="contact-tab"><a href="#tab_3" class="tab-3" data-toggle="tab">Component</a></li>*@
            @*</ul>*@
            @*<h3 class="box-title">
                Product &nbsp;&nbsp;&nbsp;
                <strong id="articleInfo">
                    <span class="classShortCode" style="color:#16a085;"></span>
                    <span class="categoryShortCode" style="color:#16a085;"></span>*@
            @*<span class="subcategoryShortCode" style="color:#16a085;"></span>*@
            @*<span class="segmentShortCode" style="color:#16a085;"></span>
                <span class="sizeShortCode" style="color:#16a085;"></span>*@
            @*<span id="fullBarcode" style="color:#16a085; display:none;"></span>*@
            @*</strong>
                </h3>*@
            <div id="myTabContent" class="tab-content form-horizontal">
                <div class="tab-pane fade active in" id="tab_1" color="blue">
                    <div id="tab_1_modal" class="form-horizontal">
                        <section class="content">
                            <!-- Default box -->
                            <div class="box box-solid">
                                <div class="box-body">
                                    <div class="box-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                        <b>General</b>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body" style=" margin-left:10px;width:990px;">
                                                    <fieldset>
                                                        @*<legend>Payee </legend>*@
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="hidden">
                                                                    <input type="hidden" class="form-control " value="1" id="type_id" placeholder="">
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label for="ProjectList">Project</label>
                                                                    <input type="hidden" class="form-control col-sm-4" id="LandShare_Id" placeholder=" Name">
                                                                    <select type="text" class="form-control select2 " style="width:315px;" id="ProjectList"></select>
                                                                    @*<select type="text" class="form-control select2 " style="width:315px;" id="ProjectList"></select>*@
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label for="UnitList">Unit</label>
                                                                    <input type="hidden" class="form-control" id="UnitList_edit" placeholder="">
                                                                    @*<select type="text" class="form-control select2" id="CategoryList" style="border-radius:5px; height:30px;" data-placeholder="Category"></select>*@
                                                                    <select type="text" class="form-control select2 " style="width:315px;" id="UnitList" data-placeholder="Unit Name"></select>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label for="LandlordList">Landlord</label>
                                                                    <input type="hidden" class="form-control" id="LandlordList_edit" placeholder="">
                                                                    <select type="text" class="form-control select2 " style="width:300px;" id="LandlordList" data-placeholder="Landlord Name"></select>
                                                                    @*<select type="text" class="form-control select2 " style="width:315px;" id="ProjectList"></select>*@
                                                                </div>

                                                            </div>
                                                        </div>


                                                        <div class="text-right">
                                                        </div>
                                                    </fieldset>
                                                </div>

                                            </div>
                                        </div>



                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                                                        <b>Payee</b>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="collapseSix" class="panel-collapse collapse">
                                                <div class="panel-body" style=" margin-left:10px;">

                                                    <fieldset>
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <label for="payee_Name">Payee Name</label>
                                                                    <input type="text" class="form-control" id="payee_Name" placeholder="Payee Name">
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label for="relation">Relation</label>
                                                                    <input type="text" class="form-control" id="relation" placeholder="Relation">
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label for="cash">Cash</label>
                                                                    <input type="text" class="form-control" style="width:300px;" id="cash" placeholder="Cash">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <label for="mobile_Banking_Type">Mobile Banking Type</label>
                                                                    <select class="form-control select2" id="mobile_Banking_Type" style="width:315px">
                                                                        <option value="0" selected> Select </option>
                                                                        <option value="1">Rocket</option>
                                                                        <option value="2">Bkash</option>
                                                                        <option value="3">Ukash</option>

                                                                    </select>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label for="mobile_Banking">Mobile Banking Amount</label>
                                                                    <input type="text" class="form-control" id="mobile_Banking_Amount" placeholder="Mobile Banking">
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label for="bank">Bank</label>
                                                                    <select type="text" class="form-control" style="width:300px;" id="BankName_0" placeholder="Bank"></select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <label for="BankDistrict_0">District</label>
                                                                    <select type="text" class="form-control" id="BankDistrict_0" data-placeholder="District Name"></select>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label for="BranchName_0">Branch</label>
                                                                    <select type="text" class="form-control" id="BranchName_0" data-placeholder="Branch Name"></select>
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label for="routing_Number">Routing Number</label>
                                                                    <input type="text" class="form-control" id="routing_Number" placeholder="Routing Number">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <label for="account_Number">Account Number</label>
                                                                    <input type="text" class="form-control" id="account_Number" placeholder="Account Number">
                                                                </div>
                                                                <div class="col-md-4">
                                                                    <label for="amount">Amount</label>
                                                                    <input type="text" class="form-control" id="amount" placeholder="Amount">
                                                                </div>
                                                            </div>
                                                        </div>
                                                </div>
                                                </fieldset>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="text-right">
                                    @*<button type="button" class="btn btn-default">Cancel</button> &nbsp;&nbsp;*@
                                    <button type="button" class="btn btn-primary" id="btnSubmit" style="margin-right:10px;margin-bottom:10px;">Submit</button>
                                </div>
                            </div>


                    </div>

                    <!-- /.box -->
</section>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<script>
    // getperipheralData();

    //getcomponentdatatable();
    $('#ISNoos').on('ifChecked', function () {

        $(this).data('isnoos', true); //setter

    });

    $('#ISNoos').on('ifUnchecked', function () { //Do your code
        $(this).data('isnoos', 0); //setter

    });

    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
        checkboxClass: 'icheckbox_minimal-red',
        radioClass: 'iradio_minimal-red'
    })

    $(document).ready(function () {
        ProjectList();
        BankList("#BankName_0");

        $('.select2').select2();
        $('#BankName_0').select2();
        //$('#BranchName_0').select2();
        $('.addnew').hide();
        $('.show-form').click(function () {
            $('.addnew').show();
            $('.show-form').hide();
            $('#updateCategory').hide();
        });
        $('.hide-form').click(function () {
            $('.addnew').hide();
            $('.show-form').show();
        });


    });

    $("#ProjectList").change(function () {
        var projectId = $(this).val();

        Unitist(projectId);
    });
    $("#UnitList").change(function () {
        unitId = $(this).val();

        LandlordList(unitId);
    });
    function ProjectList() {

        $.ajax({
            url: '/AssetCategory/RentProjectList',
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.length > 0) {
                    console.log(response);
                    $('select#ProjectList').html('');
                    var result = '';
                    result += "<option value='0'>Project Name</option>";
                    for (var i = 0; response.length > i; i++) {

                        result += "<option id='" + response[i].Project_ID + "'  data-STORAGE_ID='" + response[i].External_ID + "' title='" + response[i].Project_Name + "'value='" + response[i].Project_ID + "'>" + response[i].Project_Name + "</option>";

                    }
                }
                $('select#ProjectList').append(result);


            }
        });
    }
    function LandlordList(unitId) {

        $.ajax({
            url: '/AssetCategory/UnitLandlordList',
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({ _unitId: unitId }),
            dataType: "json",
            success: function (response) {
                if (response.length > 0) {
                    console.log(response);
                    $('select#LandlordList').html('');
                    var result = '';
                    result += "<option value='0'>Landlord Name</option>";
                    for (var i = 0; response.length > i; i++) {

                        result += "<option id='" + response[i].Landlord_ID + "' title='" + response[i].Name + "'value='" + response[i].Landlord_ID + "'>" + response[i].Name + "</option>";

                    }
                }
                $('select#LandlordList').append(result);


            }
        });
    }
    function Unitist(projectId) {

        $.ajax({
            url: '/AssetCategory/UnitList',
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify({ _projectId: projectId }),
            dataType: "json",
            success: function (response) {
                if (response.length > 0) {
                    console.log(response);
                    $('select#UnitList').html('');
                    var result = '';
                    result += "<option value='0'>Unit Name</option>";
                    for (var i = 0; response.length > i; i++) {
                        if (response[i].UNIT_ID == $('#UnitList_edit').val()) {
                            result += "<option selected value='" + response[i].UNIT_ID + "'>" + response[i].UNIT_NAME + "</option>";
                            //result += "<option selected id='" + response[i].UNIT_ID + "'  data-STORAGE_ID='" + response[i].EXTERNAL_ID + "' title='" + response[i].UNIT_NAME + "'value='" + response[i].UNIT_ID + "'>" + response[i].UNIT_NAME + "</option>";
                        }
                        else {
                            result += "<option id='" + response[i].UNIT_ID + "'  data-STORAGE_ID='" + response[i].EXTERNAL_ID + "' title='" + response[i].UNIT_NAME + "'value='" + response[i].UNIT_ID + "'>" + response[i].UNIT_NAME + "</option>";
                        }


                    }
                }
                $('select#UnitList').append(result);


            }
        });
    }
    function BankList(ID) {
        debugger;
        $.ajax({
            url: '/AssetCategory/BankList',
            type: 'POST',
            contentType: "application/json;charset=utf-8",

            dataType: "json",
            success: function (response) {

                if (response.length > 0) {
                    $(ID).html('');

                    var result = '';
                    result += "<option value='select'>Select One</option>";
                    for (var i = 0; response.length > i; i++) {
                        result += "<option value='" + response[i].Bank_ID + "'>" + response[i].Bank_Name + "</option>";
                    }
                    $(ID).append(result);
                    //$('select.BankName').append(result);
                }
            }
        });
    }
    $("#BankName_0").change(function () {
        var vBankID = $(this).val();

        DistrictList(vBankID);
    });
    function District(r_id) {
        var vBankID = $('#BankName_0' + r_id).val();
        DistrictList(r_id, vBankID);
    }
    function DistrictList(vBankID) {


        $.ajax({
            url: '/AssetCategory/DistrictList',
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(
                {
                    Bank_ID: vBankID
                }
            ),
            dataType: "json",
            success: function (response) {

                if (response.length > 0) {
                    $('#BankDistrict_0').html('');
                    var result = '';
                    result += "<option value=''>SELECT ONE</option>";
                    for (var i = 0; response.length > i; i++) {
                        if (response[i].District_Code == $('#bankdistrict_edit').val()) {
                            //alert($('#bankdistrict_edit').val());
                            //alert(response[i].District_Code);
                            result += "<option selected value='" + response[i].District_Code + "' data-shortname='" + response[i].District_Code + "'>" + response[i].District_Name + "</option>";
                        } else {
                            result += "<option value='" + response[i].District_Code + "' data-shortname='" + response[i].District_Code + "'>" + response[i].District_Name + "</option>";
                        }
                    }
                    $('#BankDistrict_0').append(result);

                    $("#BankDistrict_0").select2();
                }
            }
        });
    }
    $("#BankName_0,#BankDistrict_0").change(function () {

        var vBankID = $('#BankName_0').val();
        var vDistrictID = $('#BankDistrict_0').val();
        BranchList(vBankID, vDistrictID);
    });
    ``
    function BranchList(vBankID, vDistrictID) {

        $.ajax({
            url: '/AssetCategory/BranchList',
            type: 'POST',
            contentType: "application/json;charset=utf-8",
            data: JSON.stringify(
                {
                    Bank_ID: vBankID,
                    District_Code: vDistrictID
                }
            ),
            dataType: "json",
            success: function (response) {

                if (response.length > 0) {
                    $('#BranchName_0').html('');
                    var result = '';
                    result += "<option value=''>SELECT ONE</option>";
                    for (var i = 0; response.length > i; i++) {
                        //if (response[i].Bank_ID == $('#BankName_0').val()) {
                        //     alert($('#BankName_0').val());
                        //     result += "<option selected value='" + response[i].Bank_ID + "'>" + response[i].Bank_Name + "</option>";
                        // }
                        if (response[i].District_Code == $('#bankdistrict_edit').val()) {
                            result += "<option selected value='" + response[i].Branch_Code + "' data-shortname='" + response[i].Branch_Code + "'>" + response[i].Branch_Name + "</option>";
                        }
                        else if (response[i].Branch_Code == $('#branch_edit').val()) {
                            result += "<option selected value='" + response[i].Branch_Code + "' data-shortname='" + response[i].Branch_Code + "'>" + response[i].Branch_Name + "</option>";
                        }
                        else {
                            result += "<option value='" + response[i].Branch_Code + "' data-shortname='" + response[i].Branch_Code + "'>" + response[i].Branch_Name + "</option>";
                        }
                    }
                    $('#BranchName_0').append(result);
                    $('#branch_edit').append(result);

                    $("#BranchName_0").select2();

                }
            }
        });
    }

    $("#btnSubmit").click(function () {
        if ($("#ProjectList").val() == "" || $("#UnitList").val() == "" || $("#LandlordList").val() == "") {

            toastr.error('Enter Data', 'Rent Share', {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            });
            return false;
        }


        //if ($.trim($("#share").val()).max > 100) {

        //    toastr.error(" Your value is greater than 100");
        //    return false;
        //}


        //if ($.trim($("#share").val().max> 100)) {
        //    toastr.error(' Your value is greater than 100', 'share!', {
        //        "closeButton": false,
        //        "debug": false,
        //        "newestOnTop": false,
        //        "progressBar": true,
        //        "positionClass": "toast-top-right",
        //        "preventDuplicates": false,
        //        "onclick": null,
        //        "showDuration": "300",
        //        "hideDuration": "1000",
        //        "timeOut": "5000",
        //        "extendedTimeOut": "1000",
        //        "showEasing": "swing",
        //        "hideEasing": "linear",
        //        "showMethod": "fadeIn",
        //        "hideMethod": "fadeOut"
        //    });
        //    return false;
        //    //event.preventDefault();
        //}
        //var rowStatus = 1;
        var ProjectList = $('#ProjectList').val();
        var UnitList = $('#UnitList').val();
        var LandlordList = $('#LandlordList').val();
        var payee_Name = $('#payee_Name').val();
        var relation = $('#relation').val();
        var cash = $('#cash').val();
        var mobile_Banking_Type = $('#mobile_Banking_Type').val();
        var mobile_Banking_Amount = $('#mobile_Banking_Amount').val();
        var BankName_0 = $('#BankName_0').val();
        var BankDistrict_0 = $('#BankDistrict_0').val();
        var BranchName_0 = $('#BranchName_0').val();
        var routing_Number = $('#routing_Number').val();
        var account_Number = $('#account_Number').val();
        var amount = $('#amount').val();

        if (ProjectList == '') {
            alert('Project List  field is empty !!');
            return false;
        }
        else if (UnitList == '') {
            alert('Unit List field is empty!!');
            return false;
        }
        else if (LandlordList == '') {
            alert("Landlord List field is empty!!");
            return false;
        }
        else {
            //ajax passing data to controller
            $.ajax({

                type: "POST",
                url: '/AssetCategory/SaveRentPayee',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    //alert("Result" + response);
                    if (response != null) {


                        toastr.success(response, 'Rent Payee', {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": false,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        });
                        $("#UnitList").val("");
                        $("#LandlordList").val("");
                        //  $("#share").val("");
                        // $("#active_status").val(-1);
                        $('.addnew').show();
                        setTimeout(function () {
                            location.reload();
                        }, 5000);
                        // $('#datatable').load(document.URL + ' #datatable');

                    }

                },
                data: JSON.stringify({
                    ProjectList: ProjectList,
                    UnitList: UnitList,
                    LandlordList: LandlordList,
                    payee_Name: payee_Name,
                    relation: relation,
                    cash: cash,
                    mobile_Banking_Type: mobile_Banking_Type,
                    mobile_Banking_Amount: mobile_Banking_Amount,
                    BankName_0: BankName_0,
                    BankDistrict_0: BankDistrict_0,
                    BranchName_0: BranchName_0,
                    routing_Number: routing_Number,
                    account_Number: account_Number,
                    amount: amount

                }),
                //success: function (result) {
                //    location.reload(true);

                //    $("h2").css({ color: result[1] });
                //},
                error: function () {
                    alert("error");
                }
            });
        }
    });
</script>

<link href="~/Content/Custom/_AssetMaster.css" rel="stylesheet" />